<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

This gem is a port of Perl's Data::Faker library that generates fake data.

It comes in very handy for taking screenshots (taking screenshots for my project, Catch the Best was the original impetus for the creation of this gem), having real-looking test data, and having your database populated with more than one or two records while you're doing development.

NOTE: While Faker generates data at random, returned values are not guaranteed to be unique.