<div class="comment panel panel-default">
  <div class="body panel-body">
    <%= comment.body %>
  </div>

  <% if user_signed_in? %>
    <div class="actions panel-footer">
      <%= link_to 'reply', new_post_comment_path(:post_id => @post.id, :parent_id => comment) %>
    </div>
  <% end %>
</div>


