<div class="comment">
  <div class="body">
    <div><%= comment.body %></div>
  </div>

  <div class="actions">
    <span><%= link_to 'reply', new_post_comment_path(:post_id => @post.id, :parent_id => comment) %></span>
  </div>
</div>
<hr />