<div class="comment panel panel-default">
  <div class="body panel-body">
    <%= comment.body %>
  </div>

  <div class="actions panel-footer">
      <strong>likes:</strong>
      <span><%= comment_like %></span>

    <% if user_signed_in? %>
      <%= link_to 'reply', new_post_comment_path(:post_id => @post.id, :parent_id => comment), class: 'pull-right' %>
    <% end %>
  </div>
</div>


