

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.inline_block{
  display: inline-block;
}

/***************************************************** notice_area */
.notice_area{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
  border-radius: 5px;
}

  .notice_area .alert{
    margin: 0 !important;
    background: cyan;
  }

  .notice_area .alert-error{
    background: red;
  }

  .notice_area .alert-notice,
  .notice_area .alert-success{
    background: lime;
  } 

  .notice_area .alert-info{
    background: cyan;
  }    


